.main-part {

  margin: auto;

}

.main-part .container {
  width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-part .container h1 {
  width: 400px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 60pt;
  margin-bottom: 8px;
  text-align: center;
}

.main-part .container .txt {
  width: 800px;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 24pt;
}



iframe {
  margin: auto;
  display: flex;
  padding-bottom: 100px;
}