.picboard {
  width: 1200px;
  margin: auto;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.picboard .item .pic {
  width: 55%;
  flex-shrink: 0;
}

.picboard .item .pic img {
  width: 100%;
  width: 600px;
  height: 350px;
  vertical-align: middle;
}

.picboard .item .txt {
  width: 55%;
  flex-shrink: 0;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: #C0D9EF;
  opacity: 0.8;
  line-height: 1.5;
}

.item>:first-child {
  margin-right: -15%;
}