.main-part {
  margin: auto;
}

.main-part .container {
  width: 1200px;
  margin: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-part .container h1 {
  width: 550px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-size: 60pt;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.main-part .container .txt {
  width: 800px;
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 100px;
  font-size: 20pt;

}

.main-part .container img {
  margin: auto;
  flex-direction: column;
  width: 800px;
  box-shadow: 0 0 10px 0;
  margin: 0;
}

body {
  padding-bottom: 20px;
}